[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MetaNet"]
	path = MetaNet
	url = https://github.com/asa12138/metanet
[submodule "ReporterScore"]
	path = ReporterScore
	url = https://github.com/asa12138/reporterscore
[submodule "pcutils"]
	path = pcutils
	url = https://github.com/asa12138/pcutils
